<!DOCTYPE html>

<html>

<head>
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="/node_modules/jquery-ui-dist/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/jquery.tagit.css">
</head>

<body>
    <div id="app"></div>

    <script id="generate-app" type="text/x-handlebars-template">
        <main class="text-center">
            <div class="container">
                <h1>todos</h1>
                <div class="row">
                    <a id="select-toggle" href="#!" class="btn btn-default col-xs-2 col-sm-1 col-xs-offset-1 col-sm-offset-2">
                        <i id="select-all-icon" class="fa fa-lg fa-angle-double-down {{clearedItemsCount.color}}" aria-hidden="true"></i>
                    </a>
                    <div class="form-group col-xs-8 col-sm-7">
                        <button id="add-item-btn" type="button" class="btn btn-default" data-toggle="modal" data-target="#add-item-modal">Add New Todo</button>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="add-item-modal" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Item</h4>
                            </div>
                            <div class="modal-body">
                                <form id="add-item-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="todo-desc" name="todoDesc" placeholder="What needs to be done?" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control datepicker" id="todo-due-dt" name="todoDueDt" placeholder="When it needs to be done?" value="23, Jul 17">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="todo-tags" name="todoTags" placeholder="Add Tags here">
                                    </div>
                                    <button type="submit" class="btn btn-default" id="todo-submit">Add Todo</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="well col-lg-8 col-lg-offset-2">
                        <ul class="list-group text-left" id="todo-list">
                            {{#each filteredDB}}
                            <li class="list-group-item {{cleared}} {{dueClass}}" data-id="{{id}}">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <a href="#!" class="todo-btn clear-toggle" data-id="{{id}}">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="row {{cleared}} desc">
                                            {{todo}}
                                        </div>
                                        <div class="row tags">
                                            {{tags}}
                                        </div>
                                    </div>
                                    <div id="due-date" class="col-xs-3 text-center due-date">
                                        {{dueDt}}
                                    </div>
                                    <div class="col-xs-1 text-right">
                                        <a href="#!" class="todo-btn delete" data-id="{{id}}">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div id="tag-filters">
                        <a href="#!" class="btn btn-primary btn-sm">All</a> {{#each tags}}
                        <a href="#!" class="btn btn-primary btn-sm">{{this}}</a> {{/each}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="flex">
                        <div id="items-left">
                            <div class="well mini-well">
                                <p>Items Left <span class="badge">{{leftItemsCount}}</span></p>
                            </div>
                        </div>
                        <div>
                            <a id="filter-all" href="#!" class="btn btn-default btn-sm filter-btns">All</a>
                            <a id="filter-active" href="#!" class="btn btn-default btn-sm filter-btns">Active</a>
                            <a id="filter-completed" href="#!" class="btn btn-default btn-sm filter-btns">Completed</a>
                        </div>
                        <div id="items-cleared">
                            <div class="well mini-well invisible {{clearedItemsCount.clearBtn}}">
                                <a id="clear-completed" href="#!" class="btn btn-default btn-sm">Clear Completed</a> <span class="badge">{{clearedItemsCount.length}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </main>
    </script>

    <script id="generate-edit-form" type="text/x-handlebars-template">
        <form id="edit-form" data-id="{{id}}">
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <input type="text" id="edited-todo-desc" class="form-control" value="{{todo}}" name="editedTodoDesc" required>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <input type="text" id="edited-todo-due-dt" class="form-control datepicker" placeholder="{{dueDt}}" name="editedTodoDueDt">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-11">
                    <div class="form-group">
                        <input type="text" id="edited-todo-tags" class="form-control" value="{{tags}}" name="editedTodoTags">
                    </div>
                </div>
                <div class="col-xs-1">
                    <button type="submit" id="edit-form-submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>


    </script>


    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/node_modules/jquery-ui-dist/jquery-ui.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/node_modules/handlebars/dist/handlebars.min.js"></script>
    <script type="text/javascript" src="/src/external/tag-it.js"></script>
    <script src="bundle.js"></script>
</body>

</html>