.todo-btn {
    display: inline-block;
    text-decoration: none;
    color: grey;
    text-align: center;
    font-size: 15px;
}

.clear-toggle {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid grey;
    height: 40px;
    line-height: 40px;
    &:hover {
        color: #2bb100;
    }
}

.delete {
    visibility: hidden;
    color: red;
    padding-left: 10px;
    border-left: 1px solid grey;
    height: 40px;
    line-height: 40px;
    &:hover {
        color: red;
    }
}

li:hover .delete {
    visibility: visible;
}

p {
    margin: 0;
    padding: 4px;
}

.mini-well {
    padding: 4px;
}

.cleared {
    text-decoration: line-through;
    .clear-toggle {
        color: #2bb100;
    }
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#select-all-icon {
    font-weight: 900;
}

.green {
    color: green;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.tags {
    background-color: rgba(241, 241, 241, 0.31);
    color: #737373;
}

.due-date {
    line-height: 40px;
    height: 40px;
}

.light-green {
    background-color: lightgreen;
    color: white;
}

.light-red {
    background-color: #ee9090;
    color: white;
}

#tag-filters {
    padding-bottom: 5px;
}